@font-face {
  font-family: "KyoboHand";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 20px;
}

html > body {
  font-family: "KyoboHand";
}

body {
  height: auto;
  min-height: 100%;
  padding-bottom: 220px;
}

footer {
  height: 220px;
  position: relative;
  transform: translateY(100%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
