body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.h-44 {
  height: 44rem !important;
}
.h-41 {
  height: 41rem !important;
}

.h-40 {
  height: 40rem !important;
}

.h-39 {
  height: 39rem !important;
}

.bg {
  width: 100%;
  /* height: 400px; */
  overflow: hidden;
  margin: 0px auto;
  position: relative;
  margin-top: 80px;
  height: 51vw;
}
video {
  width: 100%;
}
.text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.display-none {
  display: none;
}

.bg-title {
  background-color: white;
  margin: auto;
  width: 40vw;
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.menu-fixed {
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
}

.sub-menu-fixed {
  position: fixed;
  z-index: 100;
  top: 80px;
}
.mb-22 {
  margin-bottom: 22rem;
}
.mt-22 {
  margin-top: 22rem;
}
